@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background: black;
  font-family: 'JetBrains Mono', monospace;
}

.terminal-bg {
  background-color: black;
  background-image:
    radial-gradient(circle at center, rgba(34,197,94,0.08), transparent 70%);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(34,197,94,0.2);
}